@using MITT_QueueA.Models
@model MITT_QueueA.Models.Answer
<div>
    <p>
        @Model.Content
    </p>
    <h6><b>User:</b> @Html.DisplayFor(model => model.User.Email)</h6>
    <h6><b>Date:</b> @Html.DisplayFor(model => model.DateAnswered)</h6>
    <hr />
    @foreach (Comment comment in Model.Comments)
    {
        @Html.Partial("CommentPartial", comment)
    }

    @Html.Partial("CreateCommentPartial", new Comment { AnswerId = Model.Id });
</div>