@using MITT_QueueA.Models
@model MITT_QueueA.Models.Question
@{
    ViewBag.Title = Model.Title;
}

<div>
    <h2>@Model.Title</h2>
    <hr />
    <h4>Description:</h4>
    <p>
        @Model.Answers.First(a => a.IsQuestion).Content
    </p>
    <br>
    <h6><b>User:</b> @Html.DisplayFor(model => model.User.Email)</h6>
    <h6><b>Date:</b> @Html.DisplayFor(model => model.DateAsked)</h6>
    <hr />
    @foreach (Answer answer in Model.Answers)
    {
        if (answer.IsQuestion)
        {
            continue;
        }

        @Html.Partial("AnswerPartial", answer);
    }

    @Html.Partial("CreateAnswerPartial", (Answer)(ViewBag.Answer ?? new Answer { QuestionId = Model.Id, Content = "" }))
</div>
