@using MITT_QueueA.Models;
@model ICollection<MITT_QueueA.Models.Question>
@{
    ViewBag.Title = "Home Page";
}

<div class="title">
    <h1 class="text-center">Queue&A</h1>
</div>
<div class="flex-space">
    <h2>New Questions</h2>
    <form method="get">
        <input name="page" type="number" value="@ViewBag.Page" hidden />
        <span class="small-font">Sort: </span>
        <select name="sort" id="sort-mode" class="form-control inline-block" style="width: auto">
            <option @(ViewBag.Sort == 0 ? "Selected" : "") value="0">Newest</option>
            <option @(ViewBag.Sort == 1 ? "Selected" : "") value="1">Most Answers</option>
        </select>
    </form>
</div>
<div class="question-list">
    @foreach (Question q in Model)
    {
        <div class="row question-row">
            <div class="inline-block question-rep">
                @q.Answers.First(a => a.IsQuestion).UserVotes.Sum(v => v.IsUpvote ? 1 : -1)
            </div>
            <div class="inline-block">
                <a href="/Main/Details/@q.Id">
                    <h3>@q.Title</h3>
                </a>
                <div class="tag-wrapper">
                    @foreach (Tag t in q.Tags)
                    {
                        <a href="/Main/Tags/@t.Id"><span class="question-tag">@t.Name</span></a>
                    }
                </div>
                <p>User: @q.User.Email</p>
            </div>
        </div>
    }
</div>
<br>
<footer>
    <span>Pages:</span>
    @for (int pg = 1; pg <= (int)ViewBag.PageCount; ++pg)
    {
        if (pg == ViewBag.Page)
        {
            <b>
                @Html.ActionLink(pg.ToString(), "Index", new { page = pg })
            </b>
        }
        else
        {
            @Html.ActionLink(pg.ToString(), "Index", new { page = pg })
        }
    }
</footer>

@section Scripts {
    <script>
        const sortMode = document.getElementById("sort-mode");
        sortMode.addEventListener("change", () => {
            sortMode.parentElement.submit();
        });
    </script>
}

